html{
	height: 100%;
}
body{
	font-family: 'Arial', Arial, sans-serif;
	background-image: url(../contact.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100%;
}


input[type=text]:focus {
	/*background-color: #cccccc;*/
}

input, textarea {
    width: 40%;
    background: none;
    outline: none;
    border: 0;
    color: #000;
    margin-bottom: 2.8rem;
 /*margin-bottom:5px;*/
    line-height: 2;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -transition: all 0.6s ease;
    transition: all 0.6s ease;
    resize: none;
    border-radius: 0;
 font-family:"Ancillary";
 font-style:italic;
 font-size:14px;
 
}

input {
    border-bottom: 2px solid #000;
    font-weight: 300;
}



textarea:focus{
	font-style: normal;
}

input[type=text]{
	text-align: left; 
	margin: 0px; 
	font-style: italic;
}
textarea{
 	border: 2px solid #000;

	padding: 5px;
}

input[type=text]:focus {
	font-style: normal;
}

input[type=submit] {
    padding:5px 15px; 
    background:#000; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: #fff;
    width: 150px;
}

#button{
	text-align: left;
}

.form {
	text-align: center;
	overflow-x: hidden;
}

form{
	margin-bottom: 100px;
	overflow-x: hidden;
}

header{
	height: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #595959;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #595959;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #595959;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #595959;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #595959;
}

.bottom{
	padding-bottom: 400px;
    overflow-x: hidden;
}

.about{
	text-align: center;
	font-family: 'Arial', Arial, sans-serif;
	font-size: 17px;
	line-height: 22px;
	color: #000;
	margin: auto;
	padding: 20px;
	overflow-x: hidden;
}

.info {
	padding-left: 20px;
	overflow-x: hidden;
}

.aboutText{
	text-align: left;

	overflow-x: hidden;
}

.aboutHr hr {
	border-top-color: #000;
	border-top-width: 2px;
	margin-left: 20px;
	margin-right: 20px;
	overflow-x: hidden;
}

.infoText {
	font-family: 'Arial', Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 22px;
	padding: 0;
	margin: 0;
	text-align: center;
	
	overflow-x: hidden;
}

.infoText a{
	text-decoration: none;
	color: #000;
	overflow-x: hidden;
}

.aboutHr{
	overflow-x: hidden;
}

#footerContainer{
	text-align: left;
	margin: auto;
	font-family: 'Arial', Arial, sans-serif;
	color: #000;
	width: 100%;
	bottom: 0;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px;
	overflow-x: hidden;
}

.footerRow{
	width: 100%;
}


.footerLeft{
	text-align: left;
}

.footerRight{
	text-align: left;
}

/* Navigation Style */
.navContainer {
	position: relative;
	height: 78px;
}

.nav {
	position: absolute;
	z-index: 4;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width: 100%;
	overflow-x: hidden;
}

.nav2 {
	position: absolute;
	z-index: 3;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width: 100%;
	overflow-x: hidden;

}
.nav li{
	display: inline;
}

.nav ul{
	padding: 0;
	margin: 0;
}

.nav a{
	display: inline-block;
	text-decoration: none;
	font-family: 'Arial', Arial, sans-serif;
	font-weight: bold;
}

.nav2 li{
	display: inline;
}

.nav2 ul{
	padding: 0;
	margin: 0;
}

.nav2 a{
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Arial', Arial, sans-serif;
}

.nav a:hover{
	text-decoration: none;
}

.nav2 a:hover{
	text-decoration: none;
}

@media (min-width: 200px) and (max-width: 250px) { 
	.nav a {
		font-size: 13px;
	}
	.nav2 a {
		font-size: 13px;
	}


}
@media (min-width: 250px) and (max-width: 300px) { 
	.nav a {
		font-size: 14px;
	}
	.nav2 a {
		font-size: 14px;
	}

}
@media (min-width: 300px) and (max-width: 350px) { 
	.nav a {
		font-size: 15px;
	}
	.nav2 a {
		font-size: 15px;
	}


}

/*iphone 6*/
@media (min-width: 350px) and (max-width: 400px) { 
	.nav a {
		font-size: 22px;
	}
	.nav2 a {
		font-size: 22px;
	}


}
@media (min-width: 400px) and (max-width: 450px) { 
	.nav a {
		font-size: 23.5px;
	}
	.nav2 a {
		font-size: 23.5px;
	}

}
@media (min-width: 450px) and (max-width: 500px) { 
	.nav a {
		font-size: 27px;
	}
	.nav2 a {
		font-size: 27px;
	}

}
@media (min-width: 500px) and (max-width: 550px) { 
	.nav a {
		font-size: 30px;
	}
	.nav2 a {
		font-size: 30px;
	}

}
@media (min-width: 550px) and (max-width: 600px) { 
	.nav a {
		font-size: 33px;
	}
	.nav2 a {
		font-size: 33px;
	}

}
@media (min-width: 600px) and (max-width: 650px) { 
	.nav a {
		font-size: 36px;
	}
	.nav2 a {
		font-size: 36px;
	}
	.about {
		margin-top: 30px;
	}
}
@media (min-width: 650px) and (max-width: 700px) { 
	.nav a {
		font-size: 40px;
	}
	.nav2 a {
		font-size: 40px;
	}
	.about {
		margin-top: 30px;
	}

}
@media (min-width: 700px) and (max-width: 750px) { 
	.nav a {
		font-size: 43px;
	}
	.nav2 a {
		font-size: 43px;
	}
	.about {
		margin-top: 40px;
	}

}
@media (min-width: 750px) and (max-width: 800px) { 
	.nav a {
		font-size: 46px;
	}
	.nav2 a {
		font-size: 46px;
	}
	.about {
		margin-top: 40px;
	}
}

@media (min-width: 800px) and (max-width: 850px) { 
	.nav a {
		font-size: 50px;
	}
	.nav2 a {
		font-size: 50px;
	}
	.about {
		margin-top: 40px;
	}
}

@media (min-width: 850px) and (max-width: 900px) { 
	.nav a {
		font-size: 53px;
	}
	.nav2 a {
		font-size: 53px;
	}
	.about {
		margin-top: 40px;
	}
}
@media (min-width: 900px) and (max-width: 950px) { 
	.nav a {
		font-size: 56px;
	}
	.nav2 a {
		font-size: 56px;
	}
	.about {
		margin-top: 40px;
	}
}
@media (min-width: 950px) and (max-width: 1000px) { 
	.nav a {
		font-size: 59px;
	}
	.nav2 a {
		font-size: 59px;
	}
	.about {
		margin-top: 50px;
	}
}
@media (min-width: 1000px) and (max-width: 1050px) { 
	.nav a {
		font-size: 63px;
	}
	.nav2 a {
		font-size: 63px;
	}
	.about {
		margin-top: 50px;
	}
}
@media (min-width: 1050px) and (max-width: 1100px) { 
	.nav a {
		font-size: 66px;
	}
	.nav2 a {
		font-size: 66px;
	}
	.about {
		margin-top: 50px;
	}
}
@media (min-width: 1100px) and (max-width: 1150px) { 
	.nav a {
		font-size: 69px;
	}
	.nav2 a {
		font-size: 69px;
	}
	.about {
		margin-top: 50px;
	}
}
@media (min-width: 1150px) and (max-width: 1200px) { 
	.nav a {
		font-size: 72px;
	}
	.nav2 a {
		font-size: 72px;
	}
	.about {
		margin-top: 50px;
	}
}
@media (min-width: 1200px) and (max-width: 1300px){
	.nav a{
		font-size: 75px;
	}
	.nav2 a{
		font-size: 75px;
	}
	.about {
		margin-top: 70px;
	}
}
@media (min-width: 1300px) and (max-width: 1400px) {
	.nav a{
		font-size: 80px;
	}
	.nav2 a{
		font-size: 80px;
	}
	.about {
		margin-top: 80px;
	}
}
@media (min-width: 1400px) and (max-width: 1500px) {
	.nav a{
		font-size: 88px;
	}
	.nav2 a{
		font-size: 88px;
	}
	.about {
		margin-top: 80px;
	}
}
@media (min-width: 1500px) and (max-width: 1600px) {
	.nav a{
		font-size: 95px;
	}
	.nav2 a{
		font-size: 95px;
	}
	.about {
		margin-top: 80px;
	}
}
@media (min-width: 1600px) and (max-width: 1700px) {
	.nav a{
		font-size: 100px;
	}
	.nav2 a{
		font-size: 100px;
	}
	.about {
		margin-top: 80px;
	}

}
@media (min-width: 1700px) and (max-width: 1900px) {
	.nav a{
		font-size: 105px;
	}
	.nav2 a{
		font-size: 105px;
	}
	.about {
		margin-top: 80px;
	}
}
@media (min-width: 1900px) and (max-width: 2000px) {
	.nav a{
		font-size: 120px;
	}
	.nav2 a{
		font-size: 120px;
	}
	.about {
		margin-top: 80px;
	}
}


