html, body{
	height: 100%;
}

/* Navigation Style */

.nav {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width: 100%;
}
.nav li{
	display: inline;
}

.nav ul{
	padding: 0;
	margin: 0;
}

.nav a{
	display: inline-block;
	text-decoration: none;
	color: black;
	font-family: 'Arial', Arial, sans-serif;
	font-weight: bold;
	padding: 10px;
}

.nav a:hover{
	color: #fff;
	text-shadow:
	-1px 1px 0 #000,
	1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

@media (max-width: 480px){ 
	.nav a {
		font-size: 18px;
	}
	.nave li{
		padding: 5px;
	}
	h1 {
		font-size: 14px;
	}
	h2 {
		font-size: 10px;
	}
	h3 {
		font-size: 8px;
	}
	#projectContainer {
		margin-bottom: 60px;
	}
}

@media (min-width: 480px) and (max-width: 600px) { 
	.nav a{
		font-size: 20px;
	}
	.nav li{
		padding: 5px;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 14px;
	}
	h3 {
		font-size: 8px;
	}
	#projectContainer {
		margin-bottom: 70px;
	}
}

@media (min-width: 600px) and (max-width: 992px) { 
	.nav a{
		font-size: 38px;
	}
	.nav li{
		padding: 5px;
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 10px;
	}
	#projectContainer {
		margin-bottom: 80px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) { 
	.nav a{
		font-size: 60px;
	}
	.nav li{
		padding: 7px;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 10px;
	}
	#projectContainer {
		margin-bottom: 100px;
	}
}

@media (min-width: 1200px) and (max-width: 1600px) { 
	.nav a{
		font-size: 76px;
	}
	.nav li{
		padding: 10px;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 14px;
	}
	#projectContainer {
		margin-bottom: 120px;
	}
}
@media (min-width: 1600px) {
	.nav a{
		font-size: 96px;
	}
	.nav li{
		padding: 20px;
	}
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 28px;
	}
	#projectContainer {
		margin-bottom: 150px;
	}
}

.footer {
	height: 100px;
}

.project {
	text-align: center;
	z-index: 0;
	font-family: 'Arial', Arial, sans-serif;
	padding: 100px;
	color: #000;
	margin: 0;
}


h3 {
	font-size: 12px;
	text-transform: uppercase;
}

h2 {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: lighter;
}

hr {
	width: 40px;
}

input[type=button]{
	padding:5px 15px; 
	background:#000;
	color: #fff; 
	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

