html {
	height: 100%;
}
body{
	font-family: 'Arial', Arial, sans-serif;
    background: url(../backHome2.jpg) no-repeat center center fixed; 
 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    overflow-x:hidden;
}



.Mo {
	text-align: center;
	color: #fff;
	margin-top: 200px;
	overflow-x:hidden;
}

.Moenter{
	text-align: center;
	color: #fff;
}




#enterButton a{
	text-align: center;
	font-size: 15px;
	letter-spacing: 5px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: 'Arial', Arial, sans-serif;
	color: #000;
	text-decoration: none;
	overflow-x:hidden;
}

#enterButton a:hover{
	color: #fff;
	text-decoration: none;
	overflow-x:hidden;
}

#nameFont{
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: 'Arial', Arial, sans-serif;
	letter-spacing: 10px;
}





